node_red_flows.json
[
    {
        "id": "14f75c42d1a78385",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cbbc17a0b378ea54",
        "type": "mqtt in",
        "z": "14f75c42d1a78385",
        "name": "Home_Data",
        "topic": "home/room1/sensors",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "54c34f4f875b07f0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 60,
        "wires": [
            [
                "d3c94b9737c6523c",
                "af4edd8aeffa7ed4",
                "9b6fa4b92c8cdaa8",
                "6834f395c351ff52",
                "e988a9f34518f3aa",
                "022a2d64375103cb"
            ]
        ]
    },
    {
        "id": "d3c94b9737c6523c",
        "type": "debug",
        "z": "14f75c42d1a78385",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 60,
        "wires": []
    },
    {
        "id": "81a046de34e32899",
        "type": "ui_gauge",
        "z": "14f75c42d1a78385",
        "name": "",
        "group": "9581c2cb3099a7fe",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp",
        "label": "°C",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 570,
        "y": 160,
        "wires": []
    },
    {
        "id": "af4edd8aeffa7ed4",
        "type": "function",
        "z": "14f75c42d1a78385",
        "name": "Temp",
        "func": "let temp = msg.payload.temperature;\n\n\nreturn [\n  { payload: temp }\n];\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 160,
        "wires": [
            [
                "81a046de34e32899",
                "1115d76d01b0e65c"
            ]
        ]
    },
    {
        "id": "db29490687eb2bbc",
        "type": "ui_gauge",
        "z": "14f75c42d1a78385",
        "name": "",
        "group": "cbeba733b7596651",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humid",
        "label": "%",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 570,
        "y": 220,
        "wires": []
    },
    {
        "id": "9b6fa4b92c8cdaa8",
        "type": "function",
        "z": "14f75c42d1a78385",
        "name": "Humidity",
        "func": "let hum = msg.payload.humidity;\n\nreturn [\n  { payload: hum }\n];\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 220,
        "wires": [
            [
                "db29490687eb2bbc",
                "8f46ba75334b34e4"
            ]
        ]
    },
    {
        "id": "e988a9f34518f3aa",
        "type": "ui_text",
        "z": "14f75c42d1a78385",
        "group": "0372d4ef544b7980",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Time",
        "format": "{{msg.payload.time}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Times New Roman,Times,serif",
        "fontSize": "16",
        "color": "#050505",
        "x": 390,
        "y": 300,
        "wires": []
    },
    {
        "id": "6834f395c351ff52",
        "type": "ui_text",
        "z": "14f75c42d1a78385",
        "group": "0372d4ef544b7980",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Date",
        "format": "{{msg.payload.date}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Times New Roman,Times,serif",
        "fontSize": 16,
        "color": "#000000",
        "x": 390,
        "y": 360,
        "wires": []
    },
    {
        "id": "1115d76d01b0e65c",
        "type": "ui_chart",
        "z": "14f75c42d1a78385",
        "name": "",
        "group": "9581c2cb3099a7fe",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temp Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "20",
        "ymax": "40",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 730,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "8f46ba75334b34e4",
        "type": "ui_chart",
        "z": "14f75c42d1a78385",
        "name": "",
        "group": "cbeba733b7596651",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Humidity Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "40",
        "ymax": "60",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 740,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "9030344de8327ab5",
        "type": "influxdb out",
        "z": "14f75c42d1a78385",
        "influxdb": "5f8b67d960eb0ce4",
        "name": "Home_Data",
        "measurement": "room1_sensors",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "iot_lab",
        "bucket": "home_data",
        "x": 610,
        "y": 420,
        "wires": []
    },
    {
        "id": "022a2d64375103cb",
        "type": "function",
        "z": "14f75c42d1a78385",
        "name": "function 3",
        "func": "let temp = parseFloat(msg.payload.temperature);\nlet hum = parseFloat(msg.payload.humidity);\nlet date = msg.payload.date;\nlet time = msg.payload.time;\n\nmsg.payload = {\n    temperature: temp,\n    humidity: hum,\n    readable_date: date,\n    readable_time: time\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 420,
        "wires": [
            [
                "9030344de8327ab5"
            ]
        ]
    },
    {
        "id": "54c34f4f875b07f0",
        "type": "mqtt-broker",
        "name": "Home_data",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9581c2cb3099a7fe",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "63f97a0105f6d8b3",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "cbeba733b7596651",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "63f97a0105f6d8b3",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "0372d4ef544b7980",
        "type": "ui_group",
        "name": "Date & Time",
        "tab": "63f97a0105f6d8b3",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "5f8b67d960eb0ce4",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "iot_lab",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "63f97a0105f6d8b3",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]